/* 
* @Author: Marte
* @Date:   2016-10-28 16:12:52
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-20 11:18:48
*/
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
}
html,body{
    min-width: 680px;
    width:100%;
    font-size:14px;
    font-family:"微软雅黑";
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.header{
    height:130px;
    background:#373738;
}
@media screen and (min-width:1200px){
    .tops{
        width:1200px;
        margin:0 auto;
    }
    .logo{
        width:102px;
        height:70px;
        padding:30px 0;
        padding-left:10px;
    }
    .nav{
        width:240px;
        height:70px;
        margin-left:110px;
        padding:30px 0;
    }
    .nav p{
        width:240px;
        color:#fff;
        line-height:44px;
    }
    .nav1{
        height:40px;
        font-size:26px;
    }
    .nav2{
        height:20px;
        font-size:16px;
    }
    .centerContent,.rightReturn{
        height:700px;
        background:url("../images/psdbeijing.png") no-repeat center top;
        overflow:hidden;
    }
    .rightReturn{
        display: none;
    }
    .centerText{
        width:550px;
        height:380px;
        margin:0 auto;
        margin-top:170px;
    }
    .psdPhone,.psdPsd,.psdVeri{
        width:540px;
        height:90px;
        margin:0 auto;
    }
    .psdPhone input,.psdPsd input{
        font-size:20px;
        outline:none;
        width:520px;
        height:62px;
        background:#fff;
        padding-left:20px;
        /* line-height:62px;
        padding-top:8px; */
        border:none;
    }
    .psdVeri input{
        font-size:20px;
        outline:none;
        width:240px;
        height:62px;
        background:#fff;
        padding-left:20px;
        /* line-height:62px;
        padding-top:8px; */
        border:none;
    }
    .veriImg{
        width:270px;
        height:62px;
        text-align:center;
        color:#fff;
        font-size:20px;
        line-height:62px;
        background:#98ce00;
        cursor:pointer;
    }
    .sureBtn{
        width:540px;
        height:62px;
        border:none;
        color:#fff;
        background:#98ce00;
        font-size:28px;
        outline:none;
        cursor:pointer;
    }
    .rightContent{
        width:174px;
        height:260px;
        margin:0 auto;
        margin-top:170px;
    }
    .rightContent dl{
        overflow:hidden;
    }
    .rightContent dl dt{
        width:170px;
        height:170px;
        margin:0 auto;
        border-radius:50%;
        overflow:hidden;
        background:url("../images/rightgou.png") no-repeat center center;
    }
    .rightContent dl dd{
        text-align:center;
        color:#fff;
        font-size:34px;
        margin-top:30px;   
    }
    ::-webkit-input-placeholder{
        color:#c8c8c8;
        font-size:20px;
    }
    .footer{
        height:auto;
        background:#2e2e2e;
    }
    .footerContent{
        width:1200px;
        height:44px;
        padding:20px 0;
        margin:0 auto;
    }
    .footerContent p{
        text-align: center;
        color:#868686;
        line-height:44px;
    }
    .footerContent p.fr{
        float:none;
        text-align:center;
    }
    .footerContent p span.marginRight{
        margin-right:40px;
    }
    .aboutUs-online{
        background:#9bd100;
        padding:18px 0;
        height:auto;
    }
    .aboutUs-onlines{
        width:1100px;
        height:auto;
        overflow: hidden;
        margin:0 auto;
        color:#fff;
    }
    .aboutUs-onlineLeft{
        height:auto;
    }
    .aboutUs-pTotal{
        font-size:18px;
        font-weight:bold;
        padding-bottom:10px;
    }
    .aboutUs-p1{
        font-size:16px;
        line-height:40px;
        height:40px;
    }
    .aboutUs-p1 a{
        color:#fff;
    }
    .aboutUs-onlineRight{
        height:160px;
        width:130px;
    }
    .aboutUs-Code{
        width:130px;
        height:130px;
        background:url("../images/aboutUsCode.png") no-repeat center center;
        background-size:100% auto;
    }
    .cleanCode{
        text-align:center;
        line-height:24px;
        letter-spacing:2px;
    }
    .addbackground{
        background:#fff;
        color:#cbcbd7;
    }
}
@media screen and (min-width:980px) and (max-width:1200px){
    .tops{
        width:980px;
        margin:0 auto;
    }
    .logo{
        width:102px;
        height:70px;
        padding:30px 0;
        padding-left:10px;
    }
    .nav{
        width:240px;
        height:70px;
        margin-left:110px;
        padding:30px 0;
    }
    .nav p{
        width:240px;
        color:#fff;
        line-height:44px;
    }
    .nav1{
        height:40px;
        font-size:26px;
    }
    .nav2{
        height:20px;
        font-size:16px;
    }
    .centerContent,.rightReturn{
        height:700px;
        background:url("../images/psdbeijing.png") no-repeat center top;
        overflow:hidden;
    }
    .rightReturn{
        display: none;
    }
    .centerText{
        width:550px;
        height:380px;
        margin:0 auto;
        margin-top:170px;
    }
    .psdPhone,.psdPsd,.psdVeri{
        width:540px;
        height:90px;
        margin:0 auto;
    }
    .psdPhone input,.psdPsd input{
        font-size:20px;
        outline:none;
        width:520px;
        height:62px;
        background:#fff;
        padding-left:20px;
        /* line-height:62px;
        padding-top:8px; */
        border:none;
    }
    .psdVeri input{
        font-size:20px;
        outline:none;
        width:240px;
        height:62px;
        background:#fff;
        padding-left:20px;
        /* line-height:62px;
        padding-top:8px; */
        border:none;
    }
    .veriImg{
        width:270px;
        height:62px;
        text-align:center;
        color:#fff;
        font-size:20px;
        line-height:62px;
        background:#98ce00;
        cursor:pointer;
    }
    .sureBtn{
        width:540px;
        height:62px;
        border:none;
        color:#fff;
        background:#98ce00;
        font-size:28px;
        outline:none;
        cursor:pointer;
    }
    .rightContent{
        width:174px;
        height:260px;
        margin:0 auto;
        margin-top:170px;
    }
    .rightContent dl{
        overflow:hidden;
    }
    .rightContent dl dt{
        width:170px;
        height:170px;
        margin:0 auto;
        border-radius:50%;
        overflow:hidden;
        background:url("../images/rightgou.png") no-repeat center center;
    }
    .rightContent dl dd{
        text-align:center;
        color:#fff;
        font-size:34px;
        margin-top:30px;   
    }
    ::-webkit-input-placeholder{
        color:#c8c8c8;
        font-size:20px;
    }
    .footer{
        height:auto;
        background:#2e2e2e;
    }
    .footerContent{
        width:980px;
        height:44px;
        padding:20px 0;
        margin:0 auto;
    }
    .footerContent p{
        text-align: center;
        color:#868686;
        line-height:44px;
    }
    .footerContent p span.marginRight{
        margin-right:40px;
    }
    .aboutUs-online{
        background:#9bd100;
        padding:18px 0;
        height:auto;
    }
    .aboutUs-onlines{
        width:980px;
        height:auto;
        overflow: hidden;
        margin:0 auto;
        color:#fff;
    }
    .aboutUs-onlineLeft{
        height:auto;
    }
    .aboutUs-pTotal{
        font-size:18px;
        font-weight:bold;
        padding-bottom:10px;
    }
    .aboutUs-p1{
        font-size:16px;
        line-height:40px;
        height:40px;
    }
    .aboutUs-p1 a{
        color:#fff;
    }
    .aboutUs-onlineRight{
        height:160px;
        width:130px;
    }
    .aboutUs-Code{
        width:130px;
        height:130px;
        background:url("../images/aboutUsCode.png") no-repeat center center;
        background-size:100% auto;
    }
    .cleanCode{
        text-align:center;
        line-height:24px;
        letter-spacing:2px;
    }
    .addbackground{
        background:#fff;
        color:#cbcbd7;
    }
}
@media screen and (max-width:980px){
    .tops{
        width:680px;
        margin:0 auto;
    }
    .logo{
        width:102px;
        height:70px;
        padding:30px 0;
        padding-left:10px;
    }
    .nav{
        width:240px;
        height:70px;
        margin-left:110px;
        padding:30px 0;
    }
    .nav p{
        width:240px;
        color:#fff;
        line-height:44px;
    }
    .nav1{
        height:40px;
        font-size:26px;
    }
    .nav2{
        height:20px;
        font-size:16px;
    }
    .centerContent,.rightReturn{
        height:700px;
        background:url("../images/psdbeijing.png") no-repeat center top;
        overflow:hidden;
    }
    .rightReturn{
        display: none;
    }
    .centerText{
        width:550px;
        height:380px;
        margin:0 auto;
        margin-top:170px;
    }
    .psdPhone,.psdPsd,.psdVeri{
        width:540px;
        height:90px;
        margin:0 auto;
    }
    .psdPhone input,.psdPsd input{
        font-size:20px;
        outline:none;
        width:520px;
        height:62px;
        background:#fff;
        padding-left:20px;
        /* line-height:62px;
        padding-top:8px; */
        border:none;
    }
    .psdVeri input{
        font-size:20px;
        outline:none;
        width:240px;
        height:62px;
        background:#fff;
        padding-left:20px;
        /* line-height:62px;
        padding-top:8px; */
        border:none;
    }
    .veriImg{
        width:270px;
        height:62px;
        text-align:center;
        color:#fff;
        font-size:20px;
        line-height:62px;
        background:#98ce00;
        cursor:pointer;
    }
    .sureBtn{
        width:540px;
        height:62px;
        border:none;
        color:#fff;
        background:#98ce00;
        font-size:28px;
        outline:none;
        cursor:pointer;
    }
    .rightContent{
        width:174px;
        height:260px;
        margin:0 auto;
        margin-top:170px;
    }
    .rightContent dl{
        overflow:hidden;
    }
    .rightContent dl dt{
        width:170px;
        height:170px;
        margin:0 auto;
        border-radius:50%;
        overflow:hidden;
        background:url("../images/rightgou.png") no-repeat center center;
    }
    .rightContent dl dd{
        text-align:center;
        color:#fff;
        font-size:34px;
        margin-top:30px;   
    }
    ::-webkit-input-placeholder{
        color:#c8c8c8;
        font-size:20px;
    }
    .footer{
        height:auto;
        background:#2e2e2e;   
    }
    .footerContent{
        width:680px;
        height:44px;
        padding:20px 0;
        margin:0 auto;
    }
    .footerContent p{
        text-align: center;
        color:#868686;
        line-height:22px;
    }
    .footerContent p.fl{ 
        float:none;
    }
    .footerContent p.fr{
        float:none;
        padding-top:5px;
    }
    .footerContent p span.marginRight{
        margin-right:40px;
    }
    .aboutUs-online{
        background:#9bd100;
        padding:18px 0;
        height:auto;
    }
    .aboutUs-onlines{
        width:680px;
        height:auto;
        overflow: hidden;
        margin:0 auto;
        color:#fff;
    }
    .aboutUs-onlineLeft{
        height:auto;
    }
    .aboutUs-pTotal{
        font-size:18px;
        font-weight:bold;
        padding-bottom:10px;
    }
    .aboutUs-p1{
        font-size:16px;
        line-height:40px;
        height:40px;
    }
    .aboutUs-p1 a{
        color:#fff;
    }
    .aboutUs-onlineRight{
        height:160px;
        width:130px;
    }
    .aboutUs-Code{
        width:130px;
        height:130px;
        background:url("../images/aboutUsCode.png") no-repeat center center;
        background-size:100% auto;
    }
    .cleanCode{
        text-align:center;
        line-height:24px;
        letter-spacing:2px;
    }
    .addbackground{
        background:#fff;
        color:#cbcbd7;
    }
}